

.bookshelf {

    /* Align with grid cell 2 */
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    height: 700px;
    display: grid;
    grid-template: 60% 40% / 60% 40%;
    
}


.notebooks-shelf{
    grid-area: 1/1/2/2;
    background-color: rgb(75, 75, 75);
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    transition: 0.3 ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: sans-serif;
    border: 2px solid black;
    background-position: center;
    background-size: cover;
    
} 
.notebooks-shelf:hover{
    border: 4px solid black;
    transition: 0.3 ease;
}
.bookshelf-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
}
.bookshelf-header-button-div{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    
}
#background-label{
    font-size: 10px;
    border-radius: 100px;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    background-color: white;
}
#background-label:hover{
    background-color: black;
    color: white;
}
#background-image-shelf{
    display: none;
}
.name-area{
    height: 5%;
    margin-left: 10px;
    display: block;
    width: 50%;
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-align: left;
}
.notebooks-space{
    
    height: 95%;
    /* min-width: 200px; */
    width: 100%;
    overflow-x: scroll;
    background-color: transparent;           
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.notebook{
    margin: 0 20px 0 20px;
    height: 70%;
    min-width: 150px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}
.notebook:hover{
    background-color: grey;
    transition: 0.3s ease;
    .notebook-name{
        color: white;
        transition: 0.3s ease;
    }
    .options-button{
        color: white;
    }
}
.notebook-name{
    background-color: transparent;
    font-size: 1.5rem;
    
}
.notebook-p-div{
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.notebook-div{
    height: 40%;

}
.notebook-div-upper{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.button-div{
    background-color: transparent;
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
}
.options-button{
    margin: 20px 10px 0 0;
    border: none;
    font-size: 1.5rem;
    border-radius: 30px;
    background-color: transparent;
    transition: 0.3s ease;
    padding-bottom: 10px;
}
.options-button:hover{
    background-color: rgb(0, 0, 0);
    transition: 0.3s ease;
}
.options-div{
    margin-top: 20px;
    height: 60px;
    width: 90%;
    background-color: transparent;
    transition: 0.3 ease;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}
.delete-book-button{
    color: black;
    height: 60%;
    font-size: 15px;
    border: none;
    border-radius: 20px;
}
.delete-book-button:hover{
    background-color: rgb(0, 0, 0);
    transition: 0.1s ease;
    color: white;
    box-shadow: -2px 0px 47px 10px rgba(0,0,0,0.81);
-webkit-box-shadow: -2px 0px 47px 10px rgba(0,0,0,0.81);
-moz-box-shadow: -2px 0px 47px 10px rgba(0,0,0,0.81);   

}