

.bookshelf {

    /* Align with grid cell 2 */
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    height: 700px;
    display: grid;
    grid-template: 60% 40% / 60% 40%;
    
}


.notebooks-shelf{
    grid-area: 1/1/2/2;
    background-color: rgb(238, 226, 165);
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    transition: 0.3 ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: sans-serif;
    border: 2px solid black;
    
} 
.notebooks-shelf:hover{
    border: 4px solid black;
    transition: 0.3 ease;
}
.name-area{
   height: 5%;
    padding-left: 40px;
    display: block;
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-align: left;
}
.notebooks-space{
    
    height: 95%;
    /* min-width: 200px; */
    width: 100%;
    overflow-x: scroll;
    background-color: transparent;           
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.notebook{
    margin: 0 20px 0 20px;
    height: 70%;
    min-width: 150px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}
.notebook:hover{
    background-color: grey;
    transition: 0.3s ease;
}
.notebook-name{
    background-color: transparent;
    font-size: 1.5rem;
}

